body{
	background-color: lightgrey;
}

#cabecera{
	background-color: white;
	height: 64px;
}

#cuerpo{
	background-color: #7A4C1B;
}

.boton1{
    text-decoration: none;
    padding: 10px;
    font-weight: 400;
    font-size: 20px;
    color: white;
    background-color: red;
    border-radius: 6px;
}
.boton1:hover{
    color: black;
    background-color: white;
}

.boton2{
    text-decoration: none;
    padding: 10px;
    font-weight: 400;
    font-size: 20px;
    color: white;
    background-color: orange;
    border-radius: 6px;  
}
.boton2:hover{
    color: black;
    background-color: white;
}

.boton3{
    text-decoration: none;
    padding: 10px;
    font-weight: 400;
    font-size: 20px;
    color: white;
    background-color: green;
    border-radius: 6px;
}
.boton3:hover{
    color: black;
    background-color: white;
}
.boton4{
    text-decoration: none;
    padding: 10px;
    font-weight: 400;
    font-size: 20px;
    color: white;
    background-color: black;
    border-radius: 6px;
}
.boton4:hover{
    color: black;
    background-color: white;
}

.boton5{
    text-decoration: none;
    padding: 10px;
    font-weight: 400;
    font-size: 20px;
    color: white;
    background-color: purple;
    border-radius: 6px;
}
.boton5:hover{
    color: black;
    background-color: white;
}

.boton6{
    text-decoration: none;
    padding: 10px;
    font-weight: 400;
    font-size: 20px;
    color: white;
    background-color: pink;
    border-radius: 6px;
}
.boton6:hover{
    color: black;
    background-color: white;
}

.botones{
  		width: 33%;
}

.tabla{
	background-color: white;
	padding:10px;
	width: 97%;
	height: 95%;
	text-align: center;
}
.tabla2{
	
	text-align: center;
	width: 89%;
	height: 85%;
}
.txt1{
	font-weight: 700;
	font-size: 60px;	
}
.txt2{
	font-style: italic;
	color: grey;
	font-size: 20px;
	text-align: right;
}
.txtg{
	font-size: 25px;
}
.botonI{
    text-decoration: none;
    padding: 10px;
    font-weight: 400;
    font-size: 20px;
    color: white;
    background-color: #00BFFF;
    border-radius: 6px;
}
.botoni:hover{
    color: black;
    background-color: #E0FFFF;
}
.botonG{
    text-decoration: none;
    padding: 10px;
    font-weight: 400;
    font-size: 20px;
    color: white;
    background-color: #00BFFF;
    border-radius: 6px;
}
.botonG:hover{
    color: black;
    background-color: #E0FFFF;
}
.txt3{
	font-weight: 550;
	font-size: 30px;
}
#cuerpo2{
	border: #7A4C1B 15px solid;
	background-color: white;
	padding: 5px;
}

#txt{
	background-color: white;
	font-weight: 550;
	font-size: 30px;
}

#contenedor{
	padding: 5px;
}

#bloque1{
	display: inline;
	background-color: #FDD57A;
	border-radius: 10px;
	margin-left: 1%;
	margin-right: 1%;
	padding: 5px;
	
}

#bloque2{
	display: inline;
	background-color: #FDD57A;
	border-radius: 10px;
	margin-left: 1%;
	margin-right: 1%;
	padding: 5px;
	
}

#bloque3{
	display: inline;
	background-color: #FDD57A;
	border-radius: 10px;
	margin-left: 1%;
	margin-right: 1%;
	padding: 5px;
}

#bloque4{
	display: inline;
	background-color: #FDD57A;
	border-radius: 10px;
	margin-left: 1%;
	margin-right: 1%;
	padding: 5px;
}

#bloque5{
	display: inline;
	background-color: #FDD57A;
	border-radius: 10px;
	margin-left: 1%;
	margin-right: 1%;
	padding: 5px;
}